@model MenuOrder.Models.FoodTable

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FoodTable</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdTable)
    <div class="form-group">
        <label class="control-label col-md-2" for="trangthai">Trạng thái:</label>
        <div class="col-md-10">
            <select name="trangthai" id="trangthai" class="form-control" required>
                <option value="">Trạng thái</option>
                <option value="Trống">Trống</option>
                <option value="Có khách">Có khách</option>
                <!-- Thêm các tùy chọn khác nếu cần -->
            </select>
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
