
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<header class="header">
    <h2 style="color:white">Chào Mừng Đến Với Nhà Hàng Của Chúng Tôi</h2>
</header>
<section class="section">
    <h3>Chào mừng bạn đến với cửa hàng 3T tại quận 1, TP.HCM!</h3>
    <p>Chúng tôi tự hào là điểm đến của những người đam mê mô hình figure, anime và manga. Với sự đa dạng và chất lượng hàng đầu, cửa hàng 3T cam kết mang đến trải nghiệm mua sắm tuyệt vời nhất cho bạn.</p>
    <h3>Đội Ngũ Sáng Tạo</h3>
    <p>Đội ngũ nhân viên của 3T nhiệt huyết và đam mê, luôn sẵn sàng đưa ra những ý tưởng mới nhất. Chúng tôi tin rằng sự sáng tạo là chìa khóa để tạo ra những sản phẩm độc đáo và ấn tượng nhất.</p>

    <h3>Đánh Giá Khách Hàng</h3>
    <p>"Sản phẩm tuyệt vời, dịch vụ nhanh chóng và chuyên nghiệp. Tôi rất hài lòng!" - Khách hàng hạnh phúc</p>

    <h3>Liên Hệ</h3>
    <p>Để biết thêm chi tiết hoặc hỗ trợ, vui lòng liên hệ chúng tôi qua email: <a href="mailto:tam2003hkt@gmail.com">tam2003hkt@gmail.com</a></p>
</section>
    <style>
        .section, .header {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
            color: #343a40;
        }

        .header {
            background-color: #343a40;
            color: #fff;
            text-align: center;
            padding: 1em 0;
        }

        .section {
            max-width: 800px;
            margin: 2em auto;
            padding: 1em;
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            margin-top: 1em;
        }

        h2, h3 {
            color: #343a40;
        }

        p {
            color: #6c757d;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>


