
@{
    ViewBag.Title = "QRTHANHTOAN";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    .center-content {
        text-align: center;
    }
    
</style>
<div class="center-content">
    <h2>Quý Khách Sử Dụng Mã Này Để Thanh Toán</h2>
    <img src="~/img/products/maqrthanhtoan.png" class="pro-1" alt="QR Code">
</div>