@model IEnumerable<MenuOrder.Models.FoodTable>

<div class="form-group">
    <div class="col-md-10">
        <select name="trangthai" id="trangthai" class="form-control" required>
            <option >Bàn trống</option>
            @foreach (var item in Model)
            {
                <option value="@item.IdTable">Bàn @item.IdTable</option>
            }
        </select>
    </div>
</div>
<style>
    .form-control {
        width: 135%
    }
</style>